
@media (min-width: 800px) {
  #nav-icon4{
    display: none;
  }
}
/* small breakpoint*/
@media (max-width: 991px) {
  .bio {
      height: 80vw;
  }
  .bio-hover{
    display: none;
  }
  .bio {
      padding: 0 0px 0 0px;
      width:80vw;
      height:70vw;
      max-width:600px;
      max-height:550px;
  }
  .mobile-bio{
    display: block;
    margin-bottom:50px;
    width:80vw;
    max-width:600px;
  }
  .about-us{
    top:0px;
      padding: 10% 8% 10% 8%;
  width:100%;
  }
  .studio-pic{
    width:100%;
  }
  .mobile-about-us{
    display: block;
  }
  .about-us{
    display: none;
  }

}
/* small breakpoint*/
@media (max-width: 767px) {
  .mobile-header-text{
    top:36%;
  }

  /*.headslide-mobile{
    height: 18vh;
    min-height: 166px;
    width: 100%;
    z-index: 10;
    background-color: black;
    padding: 5vh 28px 0 32px;
  }*/

  .freight-h1{
    font-size:45px;
  }

  .freight-h2{
  font-size:22px
  }

  .button-pad{
    padding:20px 0 20px 0;
  }

  .service{
    padding-left:0px;
    padding-right:0px;
  }



  
  
  
  .meet-the-crew-row {
      padding-top: 80px;
      padding-bottom: 80px;
}
.what-we-do-text {
    top: -42px;
    }

    .header-content{
      background-position: center center;
}

  .header{
    height:auto;
  }

.nearabout-logo {
    width: 130px;
    }
  }
@media (max-width: 1024px) {
  .header-text{
    width:100%!important;
  }

  .headslide-mobile{
    display: block;
  }

  .headslide{
  display:none}
  .header-content, .header {
      height: 136vh;
  }
  .header-span{
    top:30%;
    }
    .white-arrow{
      top: 62vh;
    }
}



  @media (max-width: 991px) {
    

    .services-container{
      padding-right:20px;
      padding-left:20px;  
    }
    .button-pad{
      margin-bottom:50px;
    }
    .type-section{
      padding-left:30px;
    }
    .typography {
        height: 100%;
        padding-left: 30px;
        padding-top: 30px;
        padding-right: 30px;
        padding-bottom: 30px;
    }
}

@media (max-width: 767px) {
  .top, .bottom, .left, .right{
    height:20px;
  }

  .proxima-h1{
    font-size: 27vw;
    line-height:27vw;
    height:27vw;
  }
  .subheader-text{
    bottom:-15px;
  }

  .wrapper{
    margin: 20px 0 0 0;
    padding: 0 20px 0 20px;
  }

  .frame{
    height:100vh;
    width:100%;
    border-width:20px /*60px 60px 40px*/;
    border-color:white;
    border-style: solid;
    position: fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;
    z-index: 1000;
  }

  .menu-row{
    margin-left:10px;
    top:10px;
  }

  ul.menu{
    display:none;
  }

  .headslide{
    height:90vh!important;
    width:30vw;
    position: absolute;
    right:-32vw;
    z-index: 10;
    background-color: black;
    padding: 20vh 20px 0 20px;
  }

  .work-row {
      background-color: white;
    }
  
  .typography-text{
    padding-left:15px;
    padding-right:15px;
  }



  .typography{
    padding-left:15px;
    padding-right:15px;
    padding-bottom:40px;
  }

  .pad-right-15{
    padding-right:0px;
  }

  .pad-left-15{
    padding-left:0px;
  }

  .pad-top-bot-30{
    padding-top:10px;
    padding-bottom:0px;
  }
  .md-pad-top-bot-10{
padding-top:10px;
padding-bottom: 10px;
  }

  #pin1{
    top:0px!important;
  }
  #nav-icon4{ width:33px;
  height:35px; }
  #nav-icon4 span{
    height:5px;
  }
  #nav-icon4 span:nth-child(2) {
  top: 10px;}
  #nav-icon4 span:nth-child(3) {
  top: 20px;}
  #nav-icon4.open span:nth-child(3){
    top:21px;
  }
  .view-work-button {
      bottom: -34px;
    }
    .what-we-do{
      margin-top:100px;
    }
    .work-row {
        padding: 0px 0px 40px 0px;
        margin-top:55px;
      }
      .work-row-text {
          top: 10px;
        }
  .header-span{
    height:27vw;
  }
.mockup-row{
  margin-top:20px;
  margin-bottom:20px;
}
.colorscheme-row{
  margin-top:20px;
  margin-bottom:20px
}
.primary, .secondary{
padding:0px;
margin: 10px 0 10px 0;  
}
.thingiverse-mobile-type{
  display: block;
}
.thingiverse-desktop-type{
  display: none;
}
.jid-wireframe {
    padding: 0px;
}
.jid-wireframe-row {
    padding: 20px 10px 20px 10px;
}
.grotesque-h1 {
    font-size: 30px;
}

.phone-tablet-row {
    padding-top: 30px;
    padding-bottom: 30px;

    }
  div.jetcity-padwrap img:nth-child(1){
    margin-bottom:20px;
  }}
/* border break point #2*/
@media (max-width: 600px) {
  .menu-row{
    margin-left:10px;
    top:0px;

  }

  .top, .bottom, .left, .right{
      height:10px;
    }
  .wrapper{
      margin: 10px 0 0 0;
      padding: 0 10px 0 10px;
    }
    .work-row {

padding:0px;
  }
  #nav-icon4 {
      right: 20px;
      top: 20px;
    }
  }


/* mobile styles for header animation */





