 
/* basics */

@font-face{
  font-family: 'FreightBlack';
  src: url(../fonts/Freight-Disp-Bold-Italic.otf);
  font-weight: normal;
  font-style: normal;
}
@font-face{
  font-family: 'ProximaBold';
  src: url(../fonts/Proxima-Nova-Bold.otf);
  font-weight: normal;
  font-style: normal;
}
@font-face{
  font-family: 'ProximaRegular';
  src: url(../fonts/Proxima-Nova-Regular.otf);
  font-weight: normal;
  font-style: normal;
}
@font-face{
  font-family: 'ProximaSemibold';
  src: url(../fonts/Proxima-Nova-Semibold.otf);
  font-weight: normal;
  font-style: normal;
}
*{
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  -webkit-margin-before:0px;
  -webkit-margin-end:0px;
  -webkit-margin-after:0px;
  -webkit-margin-start:0px;

  -webkit-padding-before:0px;
  -webkit-padding-end:0px;
  -webkit-padding-after:0px;
  -webkit-padding-start:0px;
}

html, body{
  margin  : 0;
  padding : 0;
  color   : #000;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

html{
  height: 100%;
}

.top, .bottom, .left, .right {
  background: white;
  position: fixed;
  }
  .left, .right {
    top: 0; bottom: 0;
    width: 40px;
    }
    .left { 
      left: 0; 
    }
    .right { 
      right: 0; 
    }
    
  .top, .bottom {
    left: 0; right: 0;
    height: 40px;
    }
    .top { 
      top: 0; 
    }
    .bottom { 
      bottom: 0; 
    }


/* fonts */


.proxima-h1, .proxima-h2, .proxima-h2_1{
  font-family: ProximaBold;
}

.proxima-h1{
  font-size: 16vw;
}

.proxima-h2{
  font-size: 60pt;
}
.proxima-h2_1{
  font-size: 45pt;
}

.proxima-h3{
  font-size: 15pt;
  font-family:ProximaSemibold;
}

.proxima-h4{
  font-size: 10pt;
  font-family:ProximaRegular;
}

.freight-h1{
  font-family: FreightBlack;
  font-size:50pt;
}

.freight-h2{
  font-family: FreightBlack;
  font-size:25pt;
}


/* general styles and helpers */



.thingiverse-accent{
  color:#E87C36;
}

.jid-accent{
  color:#7EA9AF;
}

.jetcity-accent{
  color:#92B259;
}

.pshg-accent{
  color:#004363 ;
}

.tastemaker-accent{
  color:#DB3E1F;
}

.tavern12-accent{
  color:#892C24;
}

.red{
	background-color: red;
}

.black{
  background-color: black;
}

.white{
  background-color: white;
}
.pink-text{
  color:#FABEAB;
}
.whitetext{
  color:white;
}

.wrapper{
	margin: 40px 0 0 0;
  padding: 0 40px 0 40px;
}

.sidepad{
	padding: 0 40px 0 40px;
}

.absolute{
  position: absolute;
}

.vcenter{
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.vcenteroffset{
  position: relative;
  top: 65%;
  transform: translateY(-50%);
}

.vcenteroffset2{
  position: relative;
  top: 20%;
  transform: translateY(-50%);
}

.clear{
  clear:both;
}

.border{
  border-style: solid;
  border-color:white;
  border-width:20px;
}

.width100{
  width:100%;
}
.width80{
  width:80%;
}
.height{
  height:175px;
}



/* bootstrap fixes/changes */ 


.row{
	margin: 0 0 0 0;
}
a{
  color:black;
  text-decoration: none;
}
a:hover{
  color:black;
}
.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9{
  padding-left:0px;
  padding-right:0px;
}


/* menu */ 


.nearabout-logo{
  width:150px;
  height:auto;
  display: block;
}

.menu-row{
  margin-left:60px;
  margin-top:20px;
  position: fixed;
  z-index:1000000;
}

ul.menu{
  margin-top:20px;
}

ul.menu li{
  list-style: none;
  color:white;
}

ul.menu li a{
  color:white;
}

.swap{
  color:white;
}


/* header */


.header{
	height:90vh;
}

.header-content{
  height:90vh;
  width:100%;
  position: relative;
  top:0;
  bottom: 0;
  left:0;
  right: 0;
  background-color: orange;
}

.headslide{
  height:90vh;
  width:30vw;
  position: absolute;
  right:-32vw;
  z-index: 10;
  background-color: black;
  padding: 30vh 50px 0 50px;
  bottom:0px;
}


/*homepage work section*/


.work-button{
  height:30vw;
  padding:20px;
  background-clip: content-box;
}

.work-row{
  background-color: #EFEEEE;
  padding: 0px 20px 40px 20px;
  margin: 100px 0 0 0;
  height:;
}

.work-row-text{
  top:-50px;
  position: relative;
}

.view-work-button{
  max-width:200px;
  height:80px;
  float:none;
  bottom:-75px;
}


/* what we do section */

.what-we-do{
  margin-top:150px;
}

.what-we-do-text{
  top:-65px;
  position: relative;
}

.services-pic{
  width:100%;
  height:800px;
  background-color: black;
}

.services-container{
  background-color: #FABEAB;
  padding: 10px 60px 40px 60px
}

.service{
  margin: 0 0 50px 0;
}


/* footer */


footer{
  height:100px;
  padding:25px 0 25px 0;
}


/*404 page*/


.wrap404{
  background-color: #FABEAB;
  border-radius: 250px;
  height:95vh;
  margin-top:2.5vh;
  width:95vw;
}

.button404{
  border: 1px;
  border-color:black;
  border-style:solid;
  width:80px;
  height:30px;
  box-sizing: content-box;
}

.button-text{
  line-height:30px;
}

.tear-drop{
  width:20px;
  position: relative;
  left:60%;
}

.forehead{
  margin-bottom:70px;
}



/* About us page */

.about-header{
  height:90vh;
  width:100%;
}

.about-ticker{
  width:100%;
  margin-top:80px;
  padding-right: 0px!important;
  padding-left:0px!important;
  margin-left: 0px!important;
  margin-right:0px!important;
  background-color: #FABEAB;
  height: 30px;
  border-right: 0px!important;
  border-left:0px!important;
}

.about-us-row{
  margin-top:80px;
}
.about-us{
  height:400px;
  padding:80px 30px 30px 80px;
  top:-500px;
}

.studio-pic{
  height:600px;
}

.bio{
  height:25vw;
  background-color: red;
  padding:0 30px 0 30px;
  background-clip: -webkit-background-clip: content-box;
  -moz-background-clip: content-box;
  background-clip: content-box;
}

.bio-hover{
  height:100%;
  width:100%;
  top:0;
  bottom:0;
  left:0;
  right:0;
  background-color: black;
  opacity:0;
  padding:50px;
}

.bio:hover .bio-hover{
  opacity: 1;
}

.meet-the-crew-row{
  background-color: #F2F2F2;
  padding-top:80px;
  padding-bottom: 80px;
}
.meet-the-crew-text{
  bottom:-45px;
  position: relative;
}

/* Work Pages */


.visit-link{
  margin:50px 0 50px 0;
}


  /* thingiverse */


  .thingiverse-header{
     background-image: url("../img/thingiverse/header-image.png");
     -webkit-background-size: cover;
     background-size: cover;
     height:49vh;
     max-height:600px;
  }

  .work-subhead{
    max-width:900px;
  }

  .service-subhead{
    margin: 20px 0 20px 0;
  }

  .mockup-row{
    margin-top:100px;
    margin-bottom:100px;
  }

  .thingiverse-mockups{
    width:80%;
  }


  .colorscheme-row{
    margin-top:120px;
    margin-bottom: 120px;
  }


/* Work page */


.work-header{
  height:90vh;
  width:100%;
}

.work-header-text2 {
  top:200%;
}

.work-box{

}












